<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.primegen">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrimeGen">

        <activity
            android:name=".splash.SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".welcome.WelcomeActivity"
            android:exported="true" />
        <activity
            android:name=".slider.SliderActivity"
            android:exported="true" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".signup.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".forgotpassword.ChangePasswordActivity"
            android:exported="true" />
        <activity
            android:name=".forgotpassword.ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".login.OtpVerificationActivity"
            android:exported="true" />
        <activity
            android:name=".login.PhoneLoginActivity"
            android:exported="true" />
        <activity
            android:name=".DashboardActivity"
            android:exported="true"
            android:label="@string/title_activity_dashboard"
            />
        <activity
            android:name=".profile.ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".profile.settings.LogoutSuccessActivity"
            android:exported="true" />
        <activity
            android:name=".payment.PaymentActivity"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>

</manifest>